<li class="list-group-item">
    <a href="{{ file.webViewLink }}" target="_blank" class="d-flex align-items-center text-decoration-none">
        <span class="me-2">
            {% if file.mimeType == 'application/vnd.google-apps.folder' %}
                <i class="fas fa-folder text-warning"></i>
            {% elif file.mimeType.startswith('image/') %}
                <i class="fas fa-file-image text-info"></i>
            {% elif file.mimeType.startswith('video/') %}
                <i class="fas fa-file-video text-danger"></i>
            {% elif file.mimeType.startswith('audio/') %}
                <i class="fas fa-file-audio text-success"></i>
            {% else %}
                <i class="fas fa-file text-primary"></i>
            {% endif %}
        </span>
        {{ file.name }}
    </a>
</li>
