

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDrive Links</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>My GDrive Links</h2>
    



                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/gdrive.html">Google Drive</a></li>
                    <li><a href="/gdrive_links.html">Google Drive Links</a></li>
                    <li><a href="/notion.html">Notion</a></li>
                    <li><a href="/gforms.html">Google Forms</a></li>
                    <li><a href="/gsheets.html">Google Sheets</a></li>
                    <li><a href="/mongo.html">MongoDB</a></li>
                    <li><a href="/extensions.html">Extensions</a></li>
                    <li><a href="/emails.html">Emails</a></li>
                </ul>
            

</body>
</html>


   